@font-face {
  font-family: 'BadScript-Regular';
  src: url('../styles/fonts/BadScript-Regular.ttf');
}

@font-face {
  font-family: 'Calligraphia_One';
  src: url('../styles/fonts/Calligraphia_One.ttf');
}

body {
  display: grid;
  grid-template-columns: 30% 40% 30%; 
  grid-template-areas:
    "main-info image-title base-info";
  grid-gap: 0px;
  margin: 0px;
  margin-bottom: 100px;
}

.main-info .font-one{
  font-family: 'Special Elite', 'Arial', 'Verdana', sans-serif;
}

.main-info .font-second {
  font-family: 'BadScript-Regular';
}

.main-info p {
  font-family: 'BadScript-Regular';
}

.main-info h2 {
  -webkit-text-stroke: 0.3px #a05123;; /* Для Safari и Chrome */
}

.main-info {
  grid-area: main-info;
  grid-column: 1;
  display: flex;
  flex: 1;
  flex-basis: 500px; /* Минимальная ширина */
  font-size: 115%;
  font-weight: bold;
  background-image: url("../styles/images/abstract-nature-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(243, 230, 236);
  min-width: 300px;
  max-width: 100%;
  height: 100vh;
}

.background {
  margin: 20px 15px;
  margin-left: 20px;
  background-image: linear-gradient(to right, rgba(87, 81, 81, 0.9),
    rgba(124, 121, 121, 0.6));
}

.image-title {
  display: grid;
  grid-template-columns: 10% 80%;
  grid-area: image-title;
  grid-column: 2;
  background-image: url("images/backgroundOne.jpg");
  background-size: cover;
  margin: 0px;
  height: 100vh;
}

.cover {
  background-image: linear-gradient(to right, rgba(7, 7, 7, 0.7), 
    rgba(29, 28, 28, 0.7));
  writing-mode: vertical-lr;
  color: rgb(243, 230, 236);
  height: inherit;
  width: 180%;
  margin: 0px;
  margin-left: 0px;
}

.cover > p {
  margin: 3%;
  font-size: 140%;
  text-shadow: 3px 3px 2px #a05123;
  text-decoration: underline 2px black;
  font-family: 'BadScript-Regular';
}

.background-title {
  margin-top: 100%;
  margin-left: 10%;
  padding-left: 20px;
  height: 20%;
  background-image: linear-gradient(to right, rgba(7, 7, 7, 0.7), 
    rgba(46, 42, 42, 0.7));
}

.background-title p {
  color: rgb(243, 230, 236);
  text-align: left;
  padding-top: 10%;
  font-family: 'Calligraphia_One';
  font-size: 50px;
}

.background-title ul {
  color: rgb(243, 230, 236);
  text-align: left;
  padding-top: 10%;
  font-family: 'Calligraphia_One';
  font-size: 50px;
}

.base-info {
  grid-column: 3;
  grid-area: base-info;
  background-color: hsl(0, 2%, 22%);
  height: 100vh;
}

.base-info > img {
  margin: 10px;
  margin-left: 30px;
  margin-top: 10px;
  min-width: 50%;
  max-width: 300px;
  min-height: 30%;
  max-height: 44%;
}

.base-info > p {
  color: antiquewhite;
  font-family: 'BadScript-Regular';
}

.background-info {
  margin-top: 20%;
  margin-left: 8%;
  margin-right: 6%;
  padding-left: 20px;
  height: 30%;
  background-image: linear-gradient(to right, rgba(7, 7, 7, 0.7), 
    rgba(46, 42, 42, 0.7));
  color: aliceblue;
}

.background-info p, h2, h1 {
  font-family: 'BadScript-Regular';
}

a {
  font-family: 'Courier New', Courier, monospace
}

.base-info img + p {
  text-align: center;
}

strong {
  color: antiquewhite;
}

a {
  color: antiquewhite;
}

a:hover {
color: #a05123;
}